@import url('./assets/fonts.css');
@import url('./assets/decoraciones.css');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  /* ARMADOR */
  --bg: #f0f7d5;
  --color: black;
  --font: 'Brush Script', cursive;
  --font-size-base: 22px;
  --footer: #282e38;

  /* ENLACES */
  --a-color: #fd8975;
  --a-hover: #fd8975;
  --a-decoration: none;
  --a-font-weight: 800;

  /* LINEAS */
  --color-divisor: #a28af5;
  --color-divisor-seccion: #d4af37;

  /* BODY */
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font);
  font-size: var(--font-size-base, 16px);

  /* EFECTOS*/
  --color-shadow: 4px 4px 4px black;
}

.bg-verde {
  background-color: var(--bg);
}

.divider-centered {
  width: 70%;
  margin: 1rem auto;
  border-color: var(--color-divisor);
  opacity: 0.5;
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.fondo-imagen {
  width: 100%;
  aspect-ratio: 9 / 16;
  background-image: url('https://placehold.co/450x800');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

/* TAMAÑOS CUSTOM */
.text-10xl {
  font-size: 8rem;
}

.text-12xl {
  font-size: 10rem;
}

.text-18xl {
  font-size: 16rem;
}
